# Projet 5A ENR

## Apprendre la stratégie journalière de stockage
### Mise en place d'un réseau de neurone

### Objectifs : 
- Estimer le coût d’un mix énergétique de manière rapide en limitant le temps de calcul de l'optimisation du stockage qui se fait aujourd’hui heure par heure.

L’entrée du réseau peut être par exemple :

1) L’état des stocks des différents moyens de stockage (en valeur absolue ou en pourcentage) à 0h

2) La production nette de la journée (production totale de la journée - consommation totale)

3) le jour de l’année (entre 1 et 365)

Et les sorties seraient : l’état des stocks en fin journée des différents moyens de stockages et le cout de stockage de la journée.
Ceci n’st qu’une proposition. On peut aussi mettre en entrée, la variance de la production journalière qui peut avoir un rôle.

In [109]:
import matplotlib.pyplot as plt
from matplotlib import ticker
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

## Prétraitement des données

- il faut genérer les données avec les modèles 

- Quel mix choisir ? Le choisir et l'importer ici =) 

- Le cout de stockage n'est t'il pas aussi dépendant du profil de consommation ? (estimation ADEME, Negawhatt, RTE ?) réponse : le profil de consommation intervient dans la production de la journée nette (qui n'est pas un partie logique)

- Comment on fait pour connaître la production de la journée idem pour la consommation ? Ducoup c'est online ? Quelle idée derrière la variance de la production journalière (+ de variance plus de stockage ?) ? 
- C'est pas un peu con de connaître exactement la production de la journée ? parceque ducoup le stock prédis ca va être sensiblement stock d'entree + prod de la journée : un peu étrange selon Flavie


- produire les données d'apprentissage contenant

    - 1 jour de l'année entre 1 et 365
    - état des stocks à h0
    - production de la journée
    - variance production journalière.
    - variance consomation journalière utile ? (peut être bien que oui aussi)

In [110]:
simu_opti_ademe = pd.read_csv("Project_Renewables_2050_Stage_Amandine/simulations/optimal_simulations/simu_opti_ademe/simu_opti_ademe_hourly_generation.csv")

In [111]:
simu_opti_ademe.drop(["Electricity demand","hour","reserve phs","reserve phs","reserve battery","reserve lake","Storage phs","Storage battery","Storage methanation"],inplace = True, axis =1)
#simu_opti_ademe.drop("hour",inplace = True, axis =1)

In [112]:
simu_opti_ademe

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,Stored phs,Stored battery,Stored methanation
0,10.94,40.80,0.0,1.27,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8143.11
1,11.12,42.09,0.0,1.30,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8147.63
2,11.12,42.89,0.0,1.11,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8152.15
3,11.04,43.18,0.0,1.12,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8156.67
4,10.77,42.95,0.0,1.21,0.0,0.0,0.0,0.0,0.0,6.01,0.0,8161.19
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,12.37,65.05,0.0,2.79,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8120.52
8756,12.47,65.34,0.0,2.72,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8125.04
8757,12.52,65.87,0.0,2.45,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8129.56
8758,12.53,65.79,0.0,2.24,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8134.08
8759,12.49,65.26,0.0,2.12,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8138.60

In [113]:
#transforming Data from hour to day
#sum over generation
#hour 24 for stored

In [114]:
A =simu_opti_ademe[["offshore","onshore","pv","river","lake","biogas","phs","battery","methanation"]].groupby(np.arange(len(simu_opti_ademe))//24).sum()
A

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69
...,...,...,...,...,...,...,...,...,...
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00
364,290.36,1232.91,212.84,49.88,0.00,0.00,0.00,0.00,0.00

In [115]:
B = simu_opti_ademe[["Stored phs","Stored battery","Stored methanation"]][::24]
B.reset_index(inplace = True)

In [116]:
B

     index  Stored phs  Stored battery  Stored methanation
0        0        0.00            0.00             8143.11
1       24      163.12           74.14             8251.58
2       48      180.00           74.14             7824.72
3       72      110.11           72.86             6424.34
4       96        1.96           13.04             5781.00
..     ...         ...             ...                 ...
360   8640      136.08           41.32             8792.97
361   8664      133.30           17.25             8032.79
362   8688       22.71            7.79             7848.96
363   8712        0.00            0.00             7926.18
364   8736        0.00            0.00             8034.65

[365 rows x 4 columns]

In [117]:
Inputs =[A,B]
Inputs =pd.concat(Inputs,axis =1)

In [118]:
Inputs

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,index,Stored phs,Stored battery,Stored methanation
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,8143.11
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56,24,163.12,74.14,8251.58
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18,48,180.00,74.14,7824.72
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52,72,110.11,72.86,6424.34
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69,96,1.96,13.04,5781.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09,8640,136.08,41.32,8792.97
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72,8664,133.30,17.25,8032.79
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00,8688,22.71,7.79,7848.96
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00,8712,0.00,0.00,7926.18
364,290.36,1232.91,212.84,49.88,0.00,0.00,0.00,0.00,0.00,8736,0.00,0.00,8034.65

In [119]:
Inputs["days"]= Inputs.index.values +1
Inputs

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,index,Stored phs,Stored battery,Stored methanation,days
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,8143.11,1
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56,24,163.12,74.14,8251.58,2
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18,48,180.00,74.14,7824.72,3
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52,72,110.11,72.86,6424.34,4
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69,96,1.96,13.04,5781.00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09,8640,136.08,41.32,8792.97,361
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72,8664,133.30,17.25,8032.79,362
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00,8688,22.71,7.79,7848.96,363
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00,8712,0.00,0.00,7926.18,364
364,290.36,1232.91,212.84,49.88,0.00,0.00,0.00,0.00,0.00,8736,0.00,0.00,8034.65,365

In [120]:
# ajouter le coût du storage
# overnight cost $/kW
# CAPEX $/kWh
# Annuity $/kW/year > pas lié au stockage
# Fixed O&M $/MWh
# Storage annuity $/kWh/year

In [121]:
stor = ["phs","battery","methanation"]
tec = ["offshore","onshore","pv","river","lake","biogas","phs","battery","methanation"]

# Annualized power capex cost in M€/GW/year
capex = pd.read_csv("inputs/annuities.csv", index_col=0, squeeze=True, header=None)
# Existing capacities of the technologies by December 2017 in GW
capa_ex = pd.read_csv("inputs/existing_capas.csv", index_col=0, squeeze=True, header=None)
# Annualized energy capex cost of storage technologies in M€/GWh/year
capex_en = pd.read_csv("inputs/str_annuities.csv", index_col=0, squeeze=True, header=None)
# Annualized fixed operation and maintenance costs M€/GW/year
fOM = pd.read_csv("inputs/fO&M.csv", index_col=0, squeeze=True, header=None)
# Variable operation and maintenance costs in M€/GWh
vOM = pd.read_csv("inputs/vO&M.csv", index_col=0, squeeze=True, header=None)



# variables optimisés par les 5A 2021
s_capex = [0,0,84.16086]
s_capex = pd.Series(s_capex, index = stor)
# charging related fOM of storage in M€/GW/year
s_opex = [0,0,59.25]
s_opex = pd.Series(s_opex, index = stor)

/tmp/ipykernel_2612/950090184.py:5: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  capex = pd.read_csv("inputs/annuities.csv", index_col=0, squeeze=True, header=None)
/tmp/ipykernel_2612/950090184.py:7: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  capa_ex = pd.read_csv("inputs/existing_capas.csv", index_col=0, squeeze=True, header=None)
/tmp/ipykernel_2612/950090184.py:9: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  capex_en = pd.read_csv("inputs/str_annuities.csv", index_col=0, squeeze=True, header=None)
/tmp/ipykernel_2612/950090184.py:11: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  fOM = pd.read_csv("inputs/fO&M.csv", index_col=0, squeeze=True, header=None)
/tmp/ipykernel_2612/950090184.py:13: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vOM = pd.read_csv("inputs/vO&M.csv", index_col=0, squeeze=True, header=None)

In [122]:
vOM = vOM.rename(index={"Onshore": "onshore", "PV":"pv", "PHS":"phs", "Battery":"battery"})
fOM = fOM.rename(index={"Offshore": "offshore", "Onshore": "onshore", "PV":"pv", "PHS":"phs", "Battery":"battery"})
capex = capex.rename(index={"Offshore": "offshore", "Onshore": "onshore", "PV":"pv", "PHS":"phs", "Battery":"battery"})

In [123]:
tec = ["offshore","onshore","pv","river","lake","biogas","phs","battery","methanation"]
Q = pd.Series([12.64, 79.73, 121.98, 7.5, 13 ,32.93, 9.3, 20.08, 32.93], index = tec)
volume= pd.Series([180 ,74.14, 12499.09], index = stor) #volume du mix optimal 
S = pd.Series([9.3,20.08, 7.66], index = stor)
gene = Inputs[["phs","battery","methanation"]]

In [124]:
gene

        phs  battery  methanation
0      0.00     0.00         0.00
1     12.19     0.00       220.56
2     62.90     1.22       630.18
3    105.15    56.84       289.52
4      2.96    12.38       395.69
..      ...      ...          ...
360   42.05    57.71       342.09
361  147.90    71.17        82.72
362   20.44     7.40         0.00
363    0.00     0.00         0.00
364    0.00     0.00         0.00

[365 rows x 3 columns]

In [125]:
DAY_FIXED_COST = (sum((Q[tec] - capa_ex[tec]) * capex[tec] for tec in stor) \
+ sum(volume[storage_tecs] * capex_en[storage_tecs] for storage_tecs in stor)\
+ sum(Q[tec] * fOM[tec] for tec in stor)\
+ sum(S[storage_tecs] * (s_opex[storage_tecs] + s_capex[storage_tecs]) for storage_tecs in stor)\
)/(365*1000)

In [126]:
DAY_VAR_COST = sum((gene[tec] * vOM[tec]) for tec in stor)/1000

In [127]:
COST = DAY_VAR_COST +DAY_FIXED_COST

In [128]:
Inputs["Stored phs"] = Inputs["Stored phs"]/volume[0]*100
Inputs["Stored battery"] = Inputs["Stored battery"]/volume[1]*100
Inputs["Stored methanation"] = Inputs["Stored methanation"]/volume[2]*100

In [129]:
Inputs

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,index,Stored phs,Stored battery,Stored methanation,days
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00,0,0.000000,0.000000,65.149623,1
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56,24,90.622222,100.000000,66.017446,2
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18,48,100.000000,100.000000,62.602317,3
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52,72,61.172222,98.273537,51.398462,4
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69,96,1.088889,17.588346,46.251367,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09,8640,75.600000,55.732398,70.348881,361
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72,8664,74.055556,23.266793,64.266999,362
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00,8688,12.616667,10.507149,62.796252,363
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00,8712,0.000000,0.000000,63.414057,364
364,290.36,1232.91,212.84,49.88,0.00,0.00,0.00,0.00,0.00,8736,0.000000,0.000000,64.281880,365

In [130]:
#créer les Xtest, Ytest, Xtrain, Ytrain

In [131]:
Inputs["cost"]= COST

In [145]:
X = Inputs[:-1]
X.drop(["cost"],inplace = True, axis =1)

/tmp/ipykernel_2612/2007421412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop(["cost"],inplace = True, axis =1)

In [146]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)
XSc= scaler.transform(X)

XSc = pd.DataFrame(XSc, index =X.index, columns = X.columns)

In [147]:
Y = Inputs[1:]
Y = Y[["Stored phs","Stored battery","Stored methanation","cost"]]
#Y["cost"]=COST[1:]
Y

     Stored phs  Stored battery  Stored methanation      cost
1     90.622222      100.000000           66.017446  0.007905
2    100.000000      100.000000           62.602317  0.010138
3     61.172222       98.273537           51.398462  0.008400
4      1.088889       17.588346           46.251367  0.008884
5      0.000000        0.000000           39.216135  0.009756
..          ...             ...                 ...       ...
360   75.600000       55.732398           70.348881  0.008688
361   74.055556       23.266793           64.266999  0.007304
362   12.616667       10.507149           62.796252  0.006720
363    0.000000        0.000000           63.414057  0.006704
364    0.000000        0.000000           64.281880  0.006704

[364 rows x 4 columns]

In [150]:
from sklearn.model_selection import train_test_split 
X_train,X_test,Y_train,Y_test=train_test_split(XSc,Y,test_size=0.25,random_state=11)

## Model de réseau de neurones

Il s'agit d'un truc au hasard d'internet à affiner 
d'internet : 

'Pour la couche Dropout, on a diminué de 30% le nombre des données d’entrée afin d’éviter le phénomène du overfitting. La graine prend une valeur de 2 pour avoir des résultats plus reproductibles.' from https://www.cours-gratuit.com/tutoriel-python/tutoriel-python-matriser-les-rseaux-de-neurones-avec-keras

In [151]:
model = keras.Sequential([
layers.Dense(64, activation = 'relu', input_shape = [X_train.shape[1]]),
layers.Dropout(0.3, seed = 2),
layers.Dense(64, activation = 'swish'),
layers.Dense(64, activation = 'relu'),
layers.Dense(64, activation = 'swish'),
layers.Dense(64, activation = 'relu'),
layers.Dense(64, activation = 'swish'),
layers.Dense(4)])

### Liste des optimizer à choisir

class Adadelta: Optimizer that implements the Adadelta algorithm.

class Adagrad: Optimizer that implements the Adagrad algorithm.

class Adam: Optimizer that implements the Adam algorithm.

class Adamax: Optimizer that implements the Adamax algorithm.

class Ftrl: Optimizer that implements the FTRL algorithm.

class Nadam: Optimizer that implements the NAdam algorithm.

class Optimizer: Base class for Keras optimizers.

class RMSprop: Optimizer that implements the RMSprop algorithm.

class SGD: Gradient descent (with momentum) optimizer.

## Liste des losses à choisir

class BinaryCrossentropy: Computes the cross-entropy loss between true labels and predicted labels.

class BinaryFocalCrossentropy: Computes the focal cross-entropy loss between true labels and predictions.

class CategoricalCrossentropy: Computes the crossentropy loss between the labels and predictions.

class CategoricalHinge: Computes the categorical hinge loss between y_true and y_pred.

class CosineSimilarity: Computes the cosine similarity between labels and predictions.

class Hinge: Computes the hinge loss between y_true and y_pred.

class Huber: Computes the Huber loss between y_true and y_pred.

class KLDivergence: Computes Kullback-Leibler divergence loss between y_true and y_pred.

class LogCosh: Computes the logarithm of the hyperbolic cosine of the prediction error.

class Loss: Loss base class.

class MeanAbsoluteError: Computes the mean of absolute difference between labels and predictions.

class MeanAbsolutePercentageError: Computes the mean absolute percentage error between y_true and y_pred.

class MeanSquaredError: Computes the mean of squares of errors between labels and predictions.

class MeanSquaredLogarithmicError: Computes the mean squared logarithmic error between y_true and y_pred.

class Poisson: Computes the Poisson loss between y_true and y_pred.

class Reduction: Types of loss reduction.

class SparseCategoricalCrossentropy: Computes the crossentropy loss between the labels and predictions.

class SquaredHinge: Computes the squared hinge loss between y_true and y_pred.

## Choisir une metrics

In [152]:
optimiseur = tf.keras.optimizers.RMSprop(learning_rate = 0.001)
model.compile(loss = tf.keras.losses.MeanSquaredError(),
optimizer = optimiseur,
metrics = ['accuracy'])

training = model.fit (X_train, Y_train, epochs = 70, validation_split = 0.2)

Epoch 1/70
7/7 [==============================] - 1s 82ms/step - loss: 1657.9839 - accuracy: 0.5106 - val_loss: 1328.6147 - val_accuracy: 0.7818
Epoch 2/70
7/7 [==============================] - 0s 33ms/step - loss: 1543.2645 - accuracy: 0.6280 - val_loss: 995.8052 - val_accuracy: 0.7818
Epoch 3/70
7/7 [==============================] - 0s 33ms/step - loss: 1041.1197 - accuracy: 0.7046 - val_loss: 468.8768 - val_accuracy: 0.7818
Epoch 4/70
7/7 [==============================] - 0s 42ms/step - loss: 609.7580 - accuracy: 0.6505 - val_loss: 421.3014 - val_accuracy: 0.7818
Epoch 5/70
7/7 [==============================] - 0s 23ms/step - loss: 545.6174 - accuracy: 0.6133 - val_loss: 409.9728 - val_accuracy: 0.7818
Epoch 6/70
7/7 [==============================] - 0s 26ms/step - loss: 521.6079 - accuracy: 0.6527 - val_loss: 378.4181 - val_accuracy: 0.7818
Epoch 7/70
7/7 [==============================] - 0s 29ms/step - loss: 500.5280 - accuracy: 0.6560 - val_loss: 373.5129 - val_accuracy: 0.7818
Epoch 8/70
7/7 [==============================] - 0s 46ms/step - loss: 538.6558 - accuracy: 0.6775 - val_loss: 359.9182 - val_accuracy: 0.7818
Epoch 9/70
7/7 [==============================] - 0s 27ms/step - loss: 442.8322 - accuracy: 0.6765 - val_loss: 353.5285 - val_accuracy: 0.7818
Epoch 10/70
7/7 [==============================] - 0s 23ms/step - loss: 478.9335 - accuracy: 0.6681 - val_loss: 340.2804 - val_accuracy: 0.7818
Epoch 11/70
7/7 [==============================] - 0s 32ms/step - loss: 487.5456 - accuracy: 0.6321 - val_loss: 328.6565 - val_accuracy: 0.7818
Epoch 12/70
7/7 [==============================] - 0s 22ms/step - loss: 484.3041 - accuracy: 0.6599 - val_loss: 329.7324 - val_accuracy: 0.7818
Epoch 13/70
7/7 [==============================] - 0s 15ms/step - loss: 450.2982 - accuracy: 0.7079 - val_loss: 340.1545 - val_accuracy: 0.7818
Epoch 14/70
7/7 [==============================] - 0s 20ms/step - loss: 446.7208 - accuracy: 0.7037 - val_loss: 330.9308 - val_accuracy: 0.7818
Epoch 15/70
7/7 [==============================] - 0s 19ms/step - loss: 404.8805 - accuracy: 0.7147 - val_loss: 337.0584 - val_accuracy: 0.8000
Epoch 16/70
7/7 [==============================] - 0s 17ms/step - loss: 369.8405 - accuracy: 0.6889 - val_loss: 362.9715 - val_accuracy: 0.7818
Epoch 17/70
7/7 [==============================] - 0s 16ms/step - loss: 396.6444 - accuracy: 0.6839 - val_loss: 321.7749 - val_accuracy: 0.7455
Epoch 18/70
7/7 [==============================] - 0s 17ms/step - loss: 421.9707 - accuracy: 0.6610 - val_loss: 311.2852 - val_accuracy: 0.7455
Epoch 19/70
7/7 [==============================] - 0s 28ms/step - loss: 361.5588 - accuracy: 0.7040 - val_loss: 327.2709 - val_accuracy: 0.7273
Epoch 20/70
7/7 [==============================] - 0s 27ms/step - loss: 371.9105 - accuracy: 0.7536 - val_loss: 284.1063 - val_accuracy: 0.7273
Epoch 21/70
7/7 [==============================] - 0s 17ms/step - loss: 364.1544 - accuracy: 0.7057 - val_loss: 271.0244 - val_accuracy: 0.7091
Epoch 22/70
7/7 [==============================] - 0s 20ms/step - loss: 367.8411 - accuracy: 0.7455 - val_loss: 298.6524 - val_accuracy: 0.7091
Epoch 23/70
7/7 [==============================] - 0s 12ms/step - loss: 345.5597 - accuracy: 0.6961 - val_loss: 276.7838 - val_accuracy: 0.7273
Epoch 24/70
7/7 [==============================] - 0s 10ms/step - loss: 348.6274 - accuracy: 0.7175 - val_loss: 254.3974 - val_accuracy: 0.7273
Epoch 25/70
7/7 [==============================] - 0s 25ms/step - loss: 350.4921 - accuracy: 0.7012 - val_loss: 270.4121 - val_accuracy: 0.7455
Epoch 26/70
7/7 [==============================] - 0s 35ms/step - loss: 327.8761 - accuracy: 0.7470 - val_loss: 272.2810 - val_accuracy: 0.7455
Epoch 27/70
7/7 [==============================] - 0s 19ms/step - loss: 277.9788 - accuracy: 0.7232 - val_loss: 250.3345 - val_accuracy: 0.7455
Epoch 28/70
7/7 [==============================] - 0s 18ms/step - loss: 265.3848 - accuracy: 0.7093 - val_loss: 242.3416 - val_accuracy: 0.7636
Epoch 29/70
7/7 [==============================] - 0s 14ms/step - loss: 281.3670 - accuracy: 0.7157 - val_loss: 269.3921 - val_accuracy: 0.7455
Epoch 30/70
7/7 [==============================] - 0s 17ms/step - loss: 277.3069 - accuracy: 0.7703 - val_loss: 289.6497 - val_accuracy: 0.7455
Epoch 31/70
7/7 [==============================] - 0s 19ms/step - loss: 268.1043 - accuracy: 0.6842 - val_loss: 235.2516 - val_accuracy: 0.7636
Epoch 32/70
7/7 [==============================] - 0s 29ms/step - loss: 284.7058 - accuracy: 0.7255 - val_loss: 226.1247 - val_accuracy: 0.7818
Epoch 33/70
7/7 [==============================] - 0s 32ms/step - loss: 280.5334 - accuracy: 0.7568 - val_loss: 234.6511 - val_accuracy: 0.7636
Epoch 34/70
7/7 [==============================] - 0s 22ms/step - loss: 250.1445 - accuracy: 0.7566 - val_loss: 226.4708 - val_accuracy: 0.7455
Epoch 35/70
7/7 [==============================] - 0s 21ms/step - loss: 255.4354 - accuracy: 0.7346 - val_loss: 228.3339 - val_accuracy: 0.7636
Epoch 36/70
7/7 [==============================] - 0s 34ms/step - loss: 269.7754 - accuracy: 0.7070 - val_loss: 227.3810 - val_accuracy: 0.7636
Epoch 37/70
7/7 [==============================] - 0s 20ms/step - loss: 280.5513 - accuracy: 0.7532 - val_loss: 227.7917 - val_accuracy: 0.7455
Epoch 38/70
7/7 [==============================] - 0s 18ms/step - loss: 272.7525 - accuracy: 0.7934 - val_loss: 227.3222 - val_accuracy: 0.7455
Epoch 39/70
7/7 [==============================] - 0s 21ms/step - loss: 230.6211 - accuracy: 0.7377 - val_loss: 221.0702 - val_accuracy: 0.7636
Epoch 40/70
7/7 [==============================] - 0s 13ms/step - loss: 236.1483 - accuracy: 0.7307 - val_loss: 235.6880 - val_accuracy: 0.7455
Epoch 41/70
7/7 [==============================] - 0s 20ms/step - loss: 235.8727 - accuracy: 0.7723 - val_loss: 238.1217 - val_accuracy: 0.7455
Epoch 42/70
7/7 [==============================] - 0s 18ms/step - loss: 215.8729 - accuracy: 0.7330 - val_loss: 234.5790 - val_accuracy: 0.7636
Epoch 43/70
7/7 [==============================] - 0s 20ms/step - loss: 214.9748 - accuracy: 0.7618 - val_loss: 242.9415 - val_accuracy: 0.7636
Epoch 44/70
7/7 [==============================] - 0s 14ms/step - loss: 229.1999 - accuracy: 0.7660 - val_loss: 231.0820 - val_accuracy: 0.7636
Epoch 45/70
7/7 [==============================] - 0s 15ms/step - loss: 232.7289 - accuracy: 0.7566 - val_loss: 228.5153 - val_accuracy: 0.7636
Epoch 46/70
7/7 [==============================] - 0s 20ms/step - loss: 232.4740 - accuracy: 0.7606 - val_loss: 226.4952 - val_accuracy: 0.7636
Epoch 47/70
7/7 [==============================] - 0s 11ms/step - loss: 265.6950 - accuracy: 0.7516 - val_loss: 229.2623 - val_accuracy: 0.7636
Epoch 48/70
7/7 [==============================] - 0s 11ms/step - loss: 209.0136 - accuracy: 0.7555 - val_loss: 237.2077 - val_accuracy: 0.7636
Epoch 49/70
7/7 [==============================] - 0s 11ms/step - loss: 215.9663 - accuracy: 0.7636 - val_loss: 234.1199 - val_accuracy: 0.7455
Epoch 50/70
7/7 [==============================] - 0s 13ms/step - loss: 223.3191 - accuracy: 0.7427 - val_loss: 230.8916 - val_accuracy: 0.7636
Epoch 51/70
7/7 [==============================] - 0s 21ms/step - loss: 235.2034 - accuracy: 0.7794 - val_loss: 236.2900 - val_accuracy: 0.7636
Epoch 52/70
7/7 [==============================] - 0s 27ms/step - loss: 241.8160 - accuracy: 0.7388 - val_loss: 233.4654 - val_accuracy: 0.7636
Epoch 53/70
7/7 [==============================] - 0s 19ms/step - loss: 192.4367 - accuracy: 0.7656 - val_loss: 231.4190 - val_accuracy: 0.7455
Epoch 54/70
7/7 [==============================] - 0s 19ms/step - loss: 215.2200 - accuracy: 0.7019 - val_loss: 230.1663 - val_accuracy: 0.7636
Epoch 55/70
7/7 [==============================] - 0s 29ms/step - loss: 210.4389 - accuracy: 0.7572 - val_loss: 235.7398 - val_accuracy: 0.7636
Epoch 56/70
7/7 [==============================] - 0s 18ms/step - loss: 209.4669 - accuracy: 0.7414 - val_loss: 231.9456 - val_accuracy: 0.7636
Epoch 57/70
7/7 [==============================] - 0s 19ms/step - loss: 201.1763 - accuracy: 0.7765 - val_loss: 239.1584 - val_accuracy: 0.7636

Epoch 58/70
7/7 [==============================] - 0s 16ms/step - loss: 199.3902 - accuracy: 0.7723 - val_loss: 237.3934 - val_accuracy: 0.7455
Epoch 59/70
7/7 [==============================] - 0s 12ms/step - loss: 208.8521 - accuracy: 0.7900 - val_loss: 232.6130 - val_accuracy: 0.8182
Epoch 60/70
7/7 [==============================] - 0s 13ms/step - loss: 217.4054 - accuracy: 0.7853 - val_loss: 240.7079 - val_accuracy: 0.8182
Epoch 61/70
7/7 [==============================] - 0s 16ms/step - loss: 181.8614 - accuracy: 0.7776 - val_loss: 232.8370 - val_accuracy: 0.8545
Epoch 62/70
7/7 [==============================] - 0s 16ms/step - loss: 204.4941 - accuracy: 0.7676 - val_loss: 233.0830 - val_accuracy: 0.8000
Epoch 63/70
7/7 [==============================] - 0s 10ms/step - loss: 214.1895 - accuracy: 0.7600 - val_loss: 245.2405 - val_accuracy: 0.7455
Epoch 64/70
7/7 [==============================] - 0s 15ms/step - loss: 191.9347 - accuracy: 0.7916 - val_loss: 278.1222 - val_accuracy: 0.7273
Epoch 65/70
7/7 [==============================] - 0s 19ms/step - loss: 191.4541 - accuracy: 0.8170 - val_loss: 235.3421 - val_accuracy: 0.7273
Epoch 66/70
7/7 [==============================] - 0s 15ms/step - loss: 207.7035 - accuracy: 0.7489 - val_loss: 241.2520 - val_accuracy: 0.8000
Epoch 67/70
7/7 [==============================] - 0s 16ms/step - loss: 208.4468 - accuracy: 0.7560 - val_loss: 230.7325 - val_accuracy: 0.8000
Epoch 68/70
7/7 [==============================] - 0s 11ms/step - loss: 177.4528 - accuracy: 0.7985 - val_loss: 242.7898 - val_accuracy: 0.7273
Epoch 69/70
7/7 [==============================] - 0s 15ms/step - loss: 217.1587 - accuracy: 0.7529 - val_loss: 232.4228 - val_accuracy: 0.7455
Epoch 70/70
7/7 [==============================] - 0s 20ms/step - loss: 202.1570 - accuracy: 0.8290 - val_loss: 252.3866 - val_accuracy: 0.7273

In [153]:
score =model.evaluate(X_test,Y_test)

3/3 [==============================] - 0s 17ms/step - loss: 210.3215 - accuracy: 0.8022

In [163]:
pd.DataFrame(model.predict(X_test))

            0          1          2         3
0   21.903643   7.300001  69.449402  0.537764
1   10.601745   3.930398  66.099190  0.274200
2   38.434067  10.472799  55.377125  0.771483
3   12.050662   4.832274  74.989395  0.331757
4    9.662853   2.161439  41.786976  0.014450
..        ...        ...        ...       ...
86  25.797981  18.363489  80.269653 -0.142641
87  29.647243   9.257372  57.969059  0.489165
88  40.410179  23.083481  68.286514 -0.168634
89   8.237765   2.706670  56.284012  0.034765
90  47.908974  33.803307   7.895756  0.189056

[91 rows x 4 columns]

In [164]:
Y_test

     Stored phs  Stored battery  Stored methanation      cost
261   17.222222        0.000000           72.771778  0.006852
229    3.983333        0.000000           67.231294  0.006820
155   37.438889       24.035608           56.135767  0.006740
318   13.194444        0.000000           79.056875  0.006704
140    0.000000        0.000000           44.062168  0.006704
..          ...             ...                 ...       ...
364    0.000000        0.000000           64.281880  0.006704
165   27.477778        4.504991           63.785924  0.006859
219    0.000000        0.000000           58.601626  0.006816
196    0.000000        0.000000           62.050917  0.006704
78    45.244444        0.000000           11.323224  0.006704

[91 rows x 4 columns]