# Projet 5A ENR

## Apprendre la stratégie journalière de stockage
### Mise en place d'un réseau de neurone

### Objectifs : 
- Estimer le coût d’un mix énergétique de manière rapide en limitant le temps de calcul de l'optimisation du stockage qui se fait aujourd’hui heure par heure.

L’entrée du réseau peut être par exemple :

1) L’état des stocks des différents moyens de stockage (en valeur absolue ou en pourcentage) à 0h

2) La production nette de la journée (production totale de la journée - consommation totale)

3) le jour de l’année (entre 1 et 365)
Et les sorties seraient : l’état des stocks en fin journée des différents moyens de stockages et le cout de stockage de la journée.
Ceci n’st qu’une proposition. On peut aussi mettre en entrée, la variance de la production journalière qui peut avoir un rôle.

In [1]:
import matplotlib.pyplot as plt
from matplotlib import ticker
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

## Prétraitement des données

- il faut genérer les données avec les modèles 

- Quel mix choisir ? Le choisir et l'importer ici =) 

- Le cout de stockage n'est t'il pas aussi dépendant du profil de consommation ? (estimation ADEME, Negawhatt, RTE ?) réponse : le profil de consommation intervient dans la production de la journée nette (qui n'est pas un partie logique)

- Comment on fait pour connaître la production de la journée idem pour la consommation ? Ducoup c'est online ? Quelle idée derrière la variance de la production journalière (+ de variance plus de stockage ?) ? 
- C'est pas un peu con de connaître exactement la production de la journée ? parceque ducoup le stock prédis ca va être sensiblement stock d'entree + prod de la journée : un peu étrange selon Flavie


- produire les données d'apprentissage contenant

    - 1 jour de l'année entre 1 et 365
    - état des stocks à h0
    - production de la journée
    - variance production journalière.
    - variance consomation journalière utile ? (peut être bien que oui aussi)

In [41]:
simu_opti_ademe = pd.read_csv("Project_Renewables_2050_Stage_Amandine/simulations/optimal_simulations/simu_opti_ademe/simu_opti_ademe_hourly_generation.csv")

In [42]:
simu_opti_ademe.drop(["Electricity demand","hour","reserve phs","reserve phs","reserve battery","reserve lake","Storage phs","Storage battery","Storage methanation"],inplace = True, axis =1)
#simu_opti_ademe.drop("hour",inplace = True, axis =1)

In [43]:
simu_opti_ademe

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,Stored phs,Stored battery,Stored methanation
0,10.94,40.80,0.0,1.27,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8143.11
1,11.12,42.09,0.0,1.30,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8147.63
2,11.12,42.89,0.0,1.11,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8152.15
3,11.04,43.18,0.0,1.12,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8156.67
4,10.77,42.95,0.0,1.21,0.0,0.0,0.0,0.0,0.0,6.01,0.0,8161.19
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,12.37,65.05,0.0,2.79,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8120.52
8756,12.47,65.34,0.0,2.72,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8125.04
8757,12.52,65.87,0.0,2.45,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8129.56
8758,12.53,65.79,0.0,2.24,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8134.08
8759,12.49,65.26,0.0,2.12,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8138.60

In [44]:
#transforming Data from hour to day
#sum over generation
#hour 24 for stored

In [45]:
A =simu_opti_ademe[["offshore","onshore","pv","river","lake","biogas","phs","battery","methanation"]].groupby(np.arange(len(simu_opti_ademe))//24).sum()
A

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69
...,...,...,...,...,...,...,...,...,...
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00
364,290.36,1232.91,212.84,49.88,0.00,0.00,0.00,0.00,0.00

In [48]:
B = simu_opti_ademe[["Stored phs","Stored battery","Stored methanation"]][::24]
B.reset_index(inplace = True)

In [49]:
B

     index  Stored phs  Stored battery  Stored methanation
0        0        0.00            0.00             8143.11
1       24      163.12           74.14             8251.58
2       48      180.00           74.14             7824.72
3       72      110.11           72.86             6424.34
4       96        1.96           13.04             5781.00
..     ...         ...             ...                 ...
360   8640      136.08           41.32             8792.97
361   8664      133.30           17.25             8032.79
362   8688       22.71            7.79             7848.96
363   8712        0.00            0.00             7926.18
364   8736        0.00            0.00             8034.65

[365 rows x 4 columns]

In [52]:
Inputs =[A,B]
Inputs =pd.concat(Inputs,axis =1)

In [53]:
Inputs

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,index,Stored phs,Stored battery,Stored methanation
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,8143.11
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56,24,163.12,74.14,8251.58
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18,48,180.00,74.14,7824.72
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52,72,110.11,72.86,6424.34
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69,96,1.96,13.04,5781.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09,8640,136.08,41.32,8792.97
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72,8664,133.30,17.25,8032.79
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00,8688,22.71,7.79,7848.96
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00,8712,0.00,0.00,7926.18
364,290.36,1232.91,212.84,49.88,0.00,0.00,0.00,0.00,0.00,8736,0.00,0.00,8034.65

In [55]:
Inputs["days"]= Inputs.index.values +1
Inputs

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,index,Stored phs,Stored battery,Stored methanation,days
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,8143.11,1
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56,24,163.12,74.14,8251.58,2
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18,48,180.00,74.14,7824.72,3
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52,72,110.11,72.86,6424.34,4
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69,96,1.96,13.04,5781.00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09,8640,136.08,41.32,8792.97,361
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72,8664,133.30,17.25,8032.79,362
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00,8688,22.71,7.79,7848.96,363
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00,8712,0.00,0.00,7926.18,364
364,290.36,1232.91,212.84,49.88,0.00,0.00,0.00,0.00,0.00,8736,0.00,0.00,8034.65,365

In [ ]:
# ajouter le coût
#créer les Xtest, Ytest, Xtrain, Ytrain

## Model de réseau de neurones

Il s'agit d'un truc au hasard d'internet à affiner 
d'internet : 

'Pour la couche Dropout, on a diminué de 30% le nombre des données d’entrée afin d’éviter le phénomène du overfitting. La graine prend une valeur de 2 pour avoir des résultats plus reproductibles.' from https://www.cours-gratuit.com/tutoriel-python/tutoriel-python-matriser-les-rseaux-de-neurones-avec-keras

In [ ]:
model = keras.Sequential([
layers.Dense(64, activation = 'relu', input_shape = [train.shape[1]]),
layers.Dropout(0.3, seed = 2),
layers.Dense(64, activation = 'swish'),
layers.Dense(64, activation = 'relu'),
layers.Dense(64, activation = 'swish'),
layers.Dense(64, activation = 'relu'),
layers.Dense(64, activation = 'swish'),
layers.Dense(4)])

### Liste des optimizer à choisir

class Adadelta: Optimizer that implements the Adadelta algorithm.

class Adagrad: Optimizer that implements the Adagrad algorithm.

class Adam: Optimizer that implements the Adam algorithm.

class Adamax: Optimizer that implements the Adamax algorithm.

class Ftrl: Optimizer that implements the FTRL algorithm.

class Nadam: Optimizer that implements the NAdam algorithm.

class Optimizer: Base class for Keras optimizers.

class RMSprop: Optimizer that implements the RMSprop algorithm.

class SGD: Gradient descent (with momentum) optimizer.

## Liste des losses à choisir

class BinaryCrossentropy: Computes the cross-entropy loss between true labels and predicted labels.

class BinaryFocalCrossentropy: Computes the focal cross-entropy loss between true labels and predictions.

class CategoricalCrossentropy: Computes the crossentropy loss between the labels and predictions.

class CategoricalHinge: Computes the categorical hinge loss between y_true and y_pred.

class CosineSimilarity: Computes the cosine similarity between labels and predictions.

class Hinge: Computes the hinge loss between y_true and y_pred.

class Huber: Computes the Huber loss between y_true and y_pred.

class KLDivergence: Computes Kullback-Leibler divergence loss between y_true and y_pred.

class LogCosh: Computes the logarithm of the hyperbolic cosine of the prediction error.

class Loss: Loss base class.

class MeanAbsoluteError: Computes the mean of absolute difference between labels and predictions.

class MeanAbsolutePercentageError: Computes the mean absolute percentage error between y_true and y_pred.

class MeanSquaredError: Computes the mean of squares of errors between labels and predictions.

class MeanSquaredLogarithmicError: Computes the mean squared logarithmic error between y_true and y_pred.

class Poisson: Computes the Poisson loss between y_true and y_pred.

class Reduction: Types of loss reduction.

class SparseCategoricalCrossentropy: Computes the crossentropy loss between the labels and predictions.

class SquaredHinge: Computes the squared hinge loss between y_true and y_pred.

## Choisir une metrics

In [ ]:
optimiseur = tf.keras.optimizers.RMSprop(learning_rate = 0.001)
modele.compile(loss = tf.keras.losses.MeanSquaredError(),
optimizer = optimiseur,
metrics = ['mae'])

training = modele.fit (train, train_cible, epochs = 70, validation_split = 0.2)