# Projet 5A ENR

## Apprendre la stratégie journalière de stockage
### Mise en place d'un réseau de neurone

### Objectifs : 
- Estimer le coût d’un mix énergétique de manière rapide en limitant le temps de calcul de l'optimisation du stockage qui se fait aujourd’hui heure par heure.

L’entrée du réseau peut être par exemple :

1) L’état des stocks des différents moyens de stockage (en valeur absolue ou en pourcentage) à 0h

2) La production nette de la journée (production totale de la journée - consommation totale)

3) le jour de l’année (entre 1 et 365)

Et les sorties seraient : l’état des stocks en fin journée des différents moyens de stockages et le cout de stockage de la journée.
Ceci n’st qu’une proposition. On peut aussi mettre en entrée, la variance de la production journalière qui peut avoir un rôle.

In [1]:
import matplotlib.pyplot as plt
from matplotlib import ticker
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

## Prétraitement des données

- il faut genérer les données avec les modèles 

- Quel mix choisir ? Le choisir et l'importer ici =) 

- Le cout de stockage n'est t'il pas aussi dépendant du profil de consommation ? (estimation ADEME, Negawhatt, RTE ?) réponse : le profil de consommation intervient dans la production de la journée nette (qui n'est pas un partie logique)

- Comment on fait pour connaître la production de la journée idem pour la consommation ? Ducoup c'est online ? Quelle idée derrière la variance de la production journalière (+ de variance plus de stockage ?) ? 
- C'est pas un peu con de connaître exactement la production de la journée ? parceque ducoup le stock prédis ca va être sensiblement stock d'entree + prod de la journée : un peu étrange selon Flavie


- produire les données d'apprentissage contenant

    - 1 jour de l'année entre 1 et 365
    - état des stocks à h0
    - production de la journée
    - variance production journalière.
    - variance consomation journalière utile ? (peut être bien que oui aussi)

In [58]:
simu_opti_ademe = pd.read_csv("Project_Renewables_2050_Stage_Amandine/simulations/optimal_simulations/simu_opti_ademe/simu_opti_ademe_hourly_generation.csv")

In [59]:
simu_opti_ademe.drop(["Electricity demand","hour","reserve phs","reserve phs","reserve battery","reserve lake","Storage phs","Storage battery","Storage methanation"],inplace = True, axis =1)
#simu_opti_ademe.drop("hour",inplace = True, axis =1)

In [60]:
simu_opti_ademe

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,Stored phs,Stored battery,Stored methanation
0,10.94,40.80,0.0,1.27,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8143.11
1,11.12,42.09,0.0,1.30,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8147.63
2,11.12,42.89,0.0,1.11,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8152.15
3,11.04,43.18,0.0,1.12,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8156.67
4,10.77,42.95,0.0,1.21,0.0,0.0,0.0,0.0,0.0,6.01,0.0,8161.19
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,12.37,65.05,0.0,2.79,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8120.52
8756,12.47,65.34,0.0,2.72,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8125.04
8757,12.52,65.87,0.0,2.45,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8129.56
8758,12.53,65.79,0.0,2.24,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8134.08
8759,12.49,65.26,0.0,2.12,0.0,0.0,0.0,0.0,0.0,0.00,0.0,8138.60

In [61]:
#transforming Data from hour to day
#sum over generation
#hour 24 for stored

In [62]:
A =simu_opti_ademe[["offshore","onshore","pv","river","lake","biogas","phs","battery","methanation"]].groupby(np.arange(len(simu_opti_ademe))//24).sum()
A

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69
...,...,...,...,...,...,...,...,...,...
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00
364,290.36,1232.91,212.84,49.88,0.00,0.00,0.00,0.00,0.00

In [63]:
B = simu_opti_ademe[["Stored phs","Stored battery","Stored methanation"]][::24]
B.reset_index(inplace = True)

In [64]:
B

     index  Stored phs  Stored battery  Stored methanation
0        0        0.00            0.00             8143.11
1       24      163.12           74.14             8251.58
2       48      180.00           74.14             7824.72
3       72      110.11           72.86             6424.34
4       96        1.96           13.04             5781.00
..     ...         ...             ...                 ...
360   8640      136.08           41.32             8792.97
361   8664      133.30           17.25             8032.79
362   8688       22.71            7.79             7848.96
363   8712        0.00            0.00             7926.18
364   8736        0.00            0.00             8034.65

[365 rows x 4 columns]

In [65]:
Inputs =[A,B]
Inputs =pd.concat(Inputs,axis =1)

In [66]:
Inputs

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,index,Stored phs,Stored battery,Stored methanation
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,8143.11
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56,24,163.12,74.14,8251.58
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18,48,180.00,74.14,7824.72
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52,72,110.11,72.86,6424.34
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69,96,1.96,13.04,5781.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09,8640,136.08,41.32,8792.97
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72,8664,133.30,17.25,8032.79
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00,8688,22.71,7.79,7848.96
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00,8712,0.00,0.00,7926.18
364,290.36,1232.91,212.84,49.88,0.00,0.00,0.00,0.00,0.00,8736,0.00,0.00,8034.65

In [67]:
Inputs["days"]= Inputs.index.values +1
Inputs

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,index,Stored phs,Stored battery,Stored methanation,days
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,8143.11,1
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56,24,163.12,74.14,8251.58,2
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18,48,180.00,74.14,7824.72,3
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52,72,110.11,72.86,6424.34,4
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69,96,1.96,13.04,5781.00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09,8640,136.08,41.32,8792.97,361
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72,8664,133.30,17.25,8032.79,362
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00,8688,22.71,7.79,7848.96,363
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00,8712,0.00,0.00,7926.18,364
364,290.36,1232.91,212.84,49.88,0.00,0.00,0.00,0.00,0.00,8736,0.00,0.00,8034.65,365

In [68]:
# ajouter le coût du storage
# overnight cost $/kW
# CAPEX $/kWh
# Annuity $/kW/year > pas lié au stockage
# Fixed O&M $/MWh
# Storage annuity $/kWh/year

In [69]:
stor = ["phs","battery","methanation"]
tec = ["offshore","onshore","pv","river","lake","biogas","phs","battery","methanation"]

# Annualized power capex cost in M€/GW/year
capex = pd.read_csv("inputs/annuities.csv", index_col=0, squeeze=True, header=None)
# Existing capacities of the technologies by December 2017 in GW
capa_ex = pd.read_csv("inputs/existing_capas.csv", index_col=0, squeeze=True, header=None)
# Annualized energy capex cost of storage technologies in M€/GWh/year
capex_en = pd.read_csv("inputs/str_annuities.csv", index_col=0, squeeze=True, header=None)
# Annualized fixed operation and maintenance costs M€/GW/year
fOM = pd.read_csv("inputs/fO&M.csv", index_col=0, squeeze=True, header=None)
# Variable operation and maintenance costs in M€/GWh
vOM = pd.read_csv("inputs/vO&M.csv", index_col=0, squeeze=True, header=None)

s_capex = [0,0,84.16086]
s_capex = pd.Series(s_capex, index = stor)
# charging related fOM of storage in M€/GW/year
s_opex = [0,0,59.25]
s_opex = pd.Series(s_opex, index = stor)

/tmp/ipykernel_2585/1076190474.py:5: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  capex = pd.read_csv("inputs/annuities.csv", index_col=0, squeeze=True, header=None)
/tmp/ipykernel_2585/1076190474.py:7: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  capa_ex = pd.read_csv("inputs/existing_capas.csv", index_col=0, squeeze=True, header=None)
/tmp/ipykernel_2585/1076190474.py:9: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  capex_en = pd.read_csv("inputs/str_annuities.csv", index_col=0, squeeze=True, header=None)
/tmp/ipykernel_2585/1076190474.py:11: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  fOM = pd.read_csv("inputs/fO&M.csv", index_col=0, squeeze=True, header=None)
/tmp/ipykernel_2585/1076190474.py:13: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vOM = pd.read_csv("inputs/vO&M.csv", index_col=0, squeeze=True, header=None)

In [70]:
vOM = vOM.rename(index={"Onshore": "onshore", "PV":"pv", "PHS":"phs", "Battery":"battery"})
fOM = fOM.rename(index={"Offshore": "offshore", "Onshore": "onshore", "PV":"pv", "PHS":"phs", "Battery":"battery"})
capex = capex.rename(index={"Offshore": "offshore", "Onshore": "onshore", "PV":"pv", "PHS":"phs", "Battery":"battery"})

In [71]:
tec = ["offshore","onshore","pv","river","lake","biogas","phs","battery","methanation"]
Q = pd.Series([12.64, 79.73, 121.98, 7.5, 13 ,32.93, 9.3, 20.08, 32.93], index = tec)
volume= pd.Series([180 ,74.14, 12499.09], index = stor)
S = pd.Series([9.3,20.08, 7.66], index = stor)
gene = Inputs[["phs","battery","methanation"]]

In [72]:
gene

        phs  battery  methanation
0      0.00     0.00         0.00
1     12.19     0.00       220.56
2     62.90     1.22       630.18
3    105.15    56.84       289.52
4      2.96    12.38       395.69
..      ...      ...          ...
360   42.05    57.71       342.09
361  147.90    71.17        82.72
362   20.44     7.40         0.00
363    0.00     0.00         0.00
364    0.00     0.00         0.00

[365 rows x 3 columns]

In [73]:
DAY_FIXED_COST = sum((Q[tec] - capa_ex[tec]) * capex[tec] for tec in stor) \
+ sum(volume[storage_tecs] * capex_en[storage_tecs] for storage_tecs in stor)\
+ sum(Q[tec] * fOM[tec] for tec in stor)\
+ sum(S[storage_tecs] * (s_opex[storage_tecs] + s_capex[storage_tecs]) for storage_tecs in stor)\
/365

In [74]:
DAY_VAR_COST = sum((gene[tec] * vOM[tec]) for tec in stor)/1000

In [75]:
COST = DAY_VAR_COST +DAY_FIXED_COST

In [76]:
Inputs

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,index,Stored phs,Stored battery,Stored methanation,days
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,8143.11,1
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56,24,163.12,74.14,8251.58,2
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18,48,180.00,74.14,7824.72,3
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52,72,110.11,72.86,6424.34,4
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69,96,1.96,13.04,5781.00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09,8640,136.08,41.32,8792.97,361
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72,8664,133.30,17.25,8032.79,362
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00,8688,22.71,7.79,7848.96,363
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00,8712,0.00,0.00,7926.18,364
364,290.36,1232.91,212.84,49.88,0.00,0.00,0.00,0.00,0.00,8736,0.00,0.00,8034.65,365

In [77]:
#créer les Xtest, Ytest, Xtrain, Ytrain

In [78]:
X = Inputs[:-1]
X

,offshore,onshore,pv,river,lake,biogas,phs,battery,methanation,index,Stored phs,Stored battery,Stored methanation,days
0,248.21,987.76,167.14,32.00,0.00,0.00,0.00,0.00,0.00,0,0.00,0.00,8143.11,1
1,89.07,520.50,270.72,37.68,0.00,0.00,12.19,0.00,220.56,24,163.12,74.14,8251.58,2
2,55.50,323.21,310.81,45.47,0.00,0.00,62.90,1.22,630.18,48,180.00,74.14,7824.72,3
3,162.95,530.71,272.38,68.40,0.00,0.00,105.15,56.84,289.52,72,110.11,72.86,6424.34,4
4,142.35,486.05,239.21,76.71,65.00,45.05,2.96,12.38,395.69,96,1.96,13.04,5781.00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,31.26,163.78,394.24,35.37,312.00,0.00,12.66,32.22,470.65,8616,111.29,61.23,9838.84,360
360,81.91,229.73,373.09,35.84,312.00,0.00,42.05,57.71,342.09,8640,136.08,41.32,8792.97,361
361,140.42,365.48,389.76,41.46,312.00,0.00,147.90,71.17,82.72,8664,133.30,17.25,8032.79,362
362,261.86,872.92,314.12,43.67,136.91,0.00,20.44,7.40,0.00,8688,22.71,7.79,7848.96,363
363,288.11,1405.12,235.34,46.40,0.00,0.00,0.00,0.00,0.00,8712,0.00,0.00,7926.18,364

In [79]:
Y = Inputs[1:]
Y = Y[["Stored phs","Stored battery","Stored methanation"]]
Y["cost"]=COST[1:]
Y

     Stored phs  Stored battery  Stored methanation         cost
1        163.12           74.14             8251.58  1351.576520
2        180.00           74.14             7824.72  1351.578752
3        110.11           72.86             6424.34  1351.577014
4          1.96           13.04             5781.00  1351.577499
5          0.00            0.00             4901.66  1351.578371
..          ...             ...                 ...          ...
360      136.08           41.32             8792.97  1351.577303
361      133.30           17.25             8032.79  1351.575919
362       22.71            7.79             7848.96  1351.575335
363        0.00            0.00             7926.18  1351.575319
364        0.00            0.00             8034.65  1351.575319

[364 rows x 4 columns]

In [85]:
from sklearn.model_selection import train_test_split 
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=11)

## Model de réseau de neurones

Il s'agit d'un truc au hasard d'internet à affiner 
d'internet : 

'Pour la couche Dropout, on a diminué de 30% le nombre des données d’entrée afin d’éviter le phénomène du overfitting. La graine prend une valeur de 2 pour avoir des résultats plus reproductibles.' from https://www.cours-gratuit.com/tutoriel-python/tutoriel-python-matriser-les-rseaux-de-neurones-avec-keras

In [86]:
model = keras.Sequential([
layers.Dense(64, activation = 'relu', input_shape = [X_train.shape[1]]),
layers.Dropout(0.3, seed = 2),
layers.Dense(64, activation = 'swish'),
layers.Dense(64, activation = 'relu'),
layers.Dense(64, activation = 'swish'),
layers.Dense(64, activation = 'relu'),
layers.Dense(64, activation = 'swish'),
layers.Dense(4)])

### Liste des optimizer à choisir

class Adadelta: Optimizer that implements the Adadelta algorithm.

class Adagrad: Optimizer that implements the Adagrad algorithm.

class Adam: Optimizer that implements the Adam algorithm.

class Adamax: Optimizer that implements the Adamax algorithm.

class Ftrl: Optimizer that implements the FTRL algorithm.

class Nadam: Optimizer that implements the NAdam algorithm.

class Optimizer: Base class for Keras optimizers.

class RMSprop: Optimizer that implements the RMSprop algorithm.

class SGD: Gradient descent (with momentum) optimizer.

## Liste des losses à choisir

class BinaryCrossentropy: Computes the cross-entropy loss between true labels and predicted labels.

class BinaryFocalCrossentropy: Computes the focal cross-entropy loss between true labels and predictions.

class CategoricalCrossentropy: Computes the crossentropy loss between the labels and predictions.

class CategoricalHinge: Computes the categorical hinge loss between y_true and y_pred.

class CosineSimilarity: Computes the cosine similarity between labels and predictions.

class Hinge: Computes the hinge loss between y_true and y_pred.

class Huber: Computes the Huber loss between y_true and y_pred.

class KLDivergence: Computes Kullback-Leibler divergence loss between y_true and y_pred.

class LogCosh: Computes the logarithm of the hyperbolic cosine of the prediction error.

class Loss: Loss base class.

class MeanAbsoluteError: Computes the mean of absolute difference between labels and predictions.

class MeanAbsolutePercentageError: Computes the mean absolute percentage error between y_true and y_pred.

class MeanSquaredError: Computes the mean of squares of errors between labels and predictions.

class MeanSquaredLogarithmicError: Computes the mean squared logarithmic error between y_true and y_pred.

class Poisson: Computes the Poisson loss between y_true and y_pred.

class Reduction: Types of loss reduction.

class SparseCategoricalCrossentropy: Computes the crossentropy loss between the labels and predictions.

class SquaredHinge: Computes the squared hinge loss between y_true and y_pred.

## Choisir une metrics

In [90]:
optimiseur = tf.keras.optimizers.RMSprop(learning_rate = 0.001)
model.compile(loss = tf.keras.losses.MeanSquaredError(),
optimizer = optimiseur,
metrics = ['accuracy'])

training = model.fit (X_train, Y_train, epochs = 70, validation_split = 0.2)

Epoch 1/70
7/7 [==============================] - 1s 70ms/step - loss: 766213.0000 - accuracy: 0.9841 - val_loss: 1064395.8750 - val_accuracy: 1.0000
Epoch 2/70
7/7 [==============================] - 0s 21ms/step - loss: 60579.6938 - accuracy: 0.9534 - val_loss: 1115253.6250 - val_accuracy: 0.9455
Epoch 3/70
7/7 [==============================] - 0s 17ms/step - loss: 53717.2910 - accuracy: 0.9689 - val_loss: 1207589.3750 - val_accuracy: 1.0000
Epoch 4/70
7/7 [==============================] - 0s 24ms/step - loss: 56653.0781 - accuracy: 0.9573 - val_loss: 673880.3125 - val_accuracy: 0.9636
Epoch 5/70
7/7 [==============================] - 0s 23ms/step - loss: 231182.7148 - accuracy: 0.9526 - val_loss: 1202253.2500 - val_accuracy: 0.9455
Epoch 6/70
7/7 [==============================] - 0s 22ms/step - loss: 102401.3164 - accuracy: 0.9698 - val_loss: 833797.3750 - val_accuracy: 0.9636
Epoch 7/70
7/7 [==============================] - 0s 22ms/step - loss: 67475.0903 - accuracy: 0.9264 - val_loss: 721037.0625 - val_accuracy: 0.9818
Epoch 8/70
7/7 [==============================] - 0s 18ms/step - loss: 165100.3105 - accuracy: 0.9549 - val_loss: 1645075.7500 - val_accuracy: 0.9818
Epoch 9/70
7/7 [==============================] - 0s 27ms/step - loss: 92976.5615 - accuracy: 0.9495 - val_loss: 515987.7188 - val_accuracy: 0.9636
Epoch 10/70
7/7 [==============================] - 0s 18ms/step - loss: 142642.7285 - accuracy: 0.9640 - val_loss: 1493686.5000 - val_accuracy: 0.9636
Epoch 11/70
7/7 [==============================] - 0s 12ms/step - loss: 132934.7695 - accuracy: 0.9597 - val_loss: 602779.5625 - val_accuracy: 0.9636
Epoch 12/70
7/7 [==============================] - 0s 13ms/step - loss: 123014.7549 - accuracy: 0.9472 - val_loss: 1140775.8750 - val_accuracy: 0.9455
Epoch 13/70
7/7 [==============================] - 0s 19ms/step - loss: 132068.9922 - accuracy: 0.9783 - val_loss: 897972.8125 - val_accuracy: 1.0000
Epoch 14/70
7/7 [==============================] - 0s 13ms/step - loss: 74104.4204 - accuracy: 0.9411 - val_loss: 807609.7500 - val_accuracy: 0.9636
Epoch 15/70
7/7 [==============================] - 0s 16ms/step - loss: 62340.8623 - accuracy: 0.9682 - val_loss: 433840.8125 - val_accuracy: 0.9818
Epoch 16/70
7/7 [==============================] - 0s 15ms/step - loss: 238050.3164 - accuracy: 0.9541 - val_loss: 766330.3125 - val_accuracy: 1.0000
Epoch 17/70
7/7 [==============================] - 0s 15ms/step - loss: 88737.5376 - accuracy: 0.9314 - val_loss: 969555.4375 - val_accuracy: 0.9636
Epoch 18/70
7/7 [==============================] - 0s 17ms/step - loss: 54187.1777 - accuracy: 0.9463 - val_loss: 1012383.2500 - val_accuracy: 1.0000
Epoch 19/70
7/7 [==============================] - 0s 17ms/step - loss: 108568.7598 - accuracy: 0.9608 - val_loss: 1186404.3750 - val_accuracy: 1.0000
Epoch 20/70
7/7 [==============================] - 0s 26ms/step - loss: 72686.9619 - accuracy: 0.9629 - val_loss: 1610895.8750 - val_accuracy: 0.9455
Epoch 21/70
7/7 [==============================] - 0s 19ms/step - loss: 119552.8467 - accuracy: 0.9528 - val_loss: 1222131.0000 - val_accuracy: 1.0000
Epoch 22/70
7/7 [==============================] - 0s 24ms/step - loss: 80721.3389 - accuracy: 0.9537 - val_loss: 619139.0000 - val_accuracy: 0.9818
Epoch 23/70
7/7 [==============================] - 0s 13ms/step - loss: 170219.4102 - accuracy: 0.9720 - val_loss: 1884039.7500 - val_accuracy: 0.9455
Epoch 24/70
7/7 [==============================] - 0s 16ms/step - loss: 135931.1953 - accuracy: 0.9495 - val_loss: 780293.9375 - val_accuracy: 0.9636
Epoch 25/70
7/7 [==============================] - 0s 21ms/step - loss: 131383.6279 - accuracy: 0.9561 - val_loss: 1443186.3750 - val_accuracy: 0.9636
Epoch 26/70
7/7 [==============================] - 0s 13ms/step - loss: 85732.9121 - accuracy: 0.9504 - val_loss: 1145030.5000 - val_accuracy: 1.0000
Epoch 27/70
7/7 [==============================] - 0s 9ms/step - loss: 98460.7163 - accuracy: 0.9526 - val_loss: 919307.0625 - val_accuracy: 0.9636
Epoch 28/70
7/7 [==============================] - 0s 12ms/step - loss: 99862.0195 - accuracy: 0.9408 - val_loss: 1549815.8750 - val_accuracy: 0.9636
Epoch 29/70
7/7 [==============================] - 0s 14ms/step - loss: 137972.6221 - accuracy: 0.9643 - val_loss: 647473.8750 - val_accuracy: 1.0000
Epoch 30/70
7/7 [==============================] - 0s 12ms/step - loss: 93845.0898 - accuracy: 0.9442 - val_loss: 1776289.7500 - val_accuracy: 0.9636
Epoch 31/70
7/7 [==============================] - 0s 10ms/step - loss: 136612.6689 - accuracy: 0.9773 - val_loss: 1031245.0000 - val_accuracy: 1.0000
Epoch 32/70
7/7 [==============================] - 0s 19ms/step - loss: 58611.3066 - accuracy: 0.9357 - val_loss: 2002343.0000 - val_accuracy: 0.9455
Epoch 33/70
7/7 [==============================] - 0s 13ms/step - loss: 160327.0527 - accuracy: 0.9384 - val_loss: 536508.0625 - val_accuracy: 0.9818
Epoch 34/70
7/7 [==============================] - 0s 14ms/step - loss: 112850.7871 - accuracy: 0.9505 - val_loss: 1068788.7500 - val_accuracy: 1.0000
Epoch 35/70
7/7 [==============================] - 0s 12ms/step - loss: 77796.1587 - accuracy: 0.9675 - val_loss: 738254.8125 - val_accuracy: 0.9636
Epoch 36/70
7/7 [==============================] - 0s 11ms/step - loss: 66096.0864 - accuracy: 0.9330 - val_loss: 647582.5625 - val_accuracy: 0.9636
Epoch 37/70
7/7 [==============================] - 0s 8ms/step - loss: 183016.4688 - accuracy: 0.9517 - val_loss: 1239133.3750 - val_accuracy: 1.0000
Epoch 38/70
7/7 [==============================] - 0s 9ms/step - loss: 50025.5918 - accuracy: 0.9600 - val_loss: 1130945.2500 - val_accuracy: 1.0000
Epoch 39/70
7/7 [==============================] - 0s 9ms/step - loss: 52332.4922 - accuracy: 0.9467 - val_loss: 524566.3125 - val_accuracy: 0.9636
Epoch 40/70
7/7 [==============================] - 0s 8ms/step - loss: 160383.4902 - accuracy: 0.9562 - val_loss: 1256773.8750 - val_accuracy: 1.0000
Epoch 41/70
7/7 [==============================] - 0s 9ms/step - loss: 91864.3574 - accuracy: 0.9761 - val_loss: 731625.6250 - val_accuracy: 0.9818
Epoch 42/70
7/7 [==============================] - 0s 10ms/step - loss: 107599.2363 - accuracy: 0.9588 - val_loss: 1056071.3750 - val_accuracy: 0.9636
Epoch 43/70
7/7 [==============================] - 0s 16ms/step - loss: 70741.3818 - accuracy: 0.9576 - val_loss: 1761226.1250 - val_accuracy: 0.9455
Epoch 44/70
7/7 [==============================] - 0s 14ms/step - loss: 152192.3457 - accuracy: 0.9460 - val_loss: 710599.1875 - val_accuracy: 1.0000
Epoch 45/70
7/7 [==============================] - 0s 18ms/step - loss: 87367.6211 - accuracy: 0.9689 - val_loss: 1376735.8750 - val_accuracy: 0.9818
Epoch 46/70
7/7 [==============================] - 0s 16ms/step - loss: 56168.2432 - accuracy: 0.9690 - val_loss: 985309.8125 - val_accuracy: 1.0000
Epoch 47/70
7/7 [==============================] - 0s 17ms/step - loss: 46326.6265 - accuracy: 0.9451 - val_loss: 649374.6250 - val_accuracy: 0.9636
Epoch 48/70
7/7 [==============================] - 0s 20ms/step - loss: 171232.4199 - accuracy: 0.9383 - val_loss: 1036078.5625 - val_accuracy: 1.0000
Epoch 49/70
7/7 [==============================] - 0s 19ms/step - loss: 58153.0210 - accuracy: 0.9822 - val_loss: 667476.9375 - val_accuracy: 0.9818
Epoch 50/70
7/7 [==============================] - 0s 18ms/step - loss: 119700.4688 - accuracy: 0.9534 - val_loss: 1257722.6250 - val_accuracy: 1.0000
Epoch 51/70
7/7 [==============================] - 0s 17ms/step - loss: 95500.9067 - accuracy: 0.9711 - val_loss: 641407.5625 - val_accuracy: 0.9636
Epoch 52/70
7/7 [==============================] - 0s 22ms/step - loss: 100274.8418 - accuracy: 0.9317 - val_loss: 1061113.8750 - val_accuracy: 1.0000
Epoch 53/70
7/7 [==============================] - 0s 20ms/step - loss: 55158.2561 - accuracy: 0.9589 - val_loss: 1655989.2500 - val_accuracy: 1.0000
Epoch 54/70
7/7 [==============================] - 0s 14ms/step - loss: 147601.7148 - accuracy: 0.9575 - val_loss: 917349.6875 - val_accuracy: 1.0000
Epoch 55/70
7/7 [==============================] - 0s 16ms/step - loss: 62050.6064 - accuracy: 0.9615 - val_loss: 1468257.1250 - val_accuracy: 0.9818

Epoch 56/70
7/7 [==============================] - 0s 13ms/step - loss: 72792.1216 - accuracy: 0.9891 - val_loss: 727022.9375 - val_accuracy: 0.9636
Epoch 57/70
7/7 [==============================] - 0s 14ms/step - loss: 91976.4395 - accuracy: 0.9466 - val_loss: 1294568.3750 - val_accuracy: 1.0000
Epoch 58/70
7/7 [==============================] - 0s 15ms/step - loss: 64965.5786 - accuracy: 0.9765 - val_loss: 695331.5000 - val_accuracy: 0.9636
Epoch 59/70
7/7 [==============================] - 0s 15ms/step - loss: 84873.2197 - accuracy: 0.9558 - val_loss: 1417623.2500 - val_accuracy: 1.0000
Epoch 60/70
7/7 [==============================] - 0s 15ms/step - loss: 110468.1582 - accuracy: 0.9713 - val_loss: 795115.8125 - val_accuracy: 1.0000
Epoch 61/70
7/7 [==============================] - 0s 19ms/step - loss: 63923.7280 - accuracy: 0.9383 - val_loss: 1015470.3750 - val_accuracy: 0.9818
Epoch 62/70
7/7 [==============================] - 0s 15ms/step - loss: 53735.3311 - accuracy: 0.9846 - val_loss: 700304.3125 - val_accuracy: 1.0000
Epoch 63/70
7/7 [==============================] - 0s 14ms/step - loss: 131311.5029 - accuracy: 0.9763 - val_loss: 1269157.5000 - val_accuracy: 1.0000
Epoch 64/70
7/7 [==============================] - 0s 15ms/step - loss: 53589.6733 - accuracy: 0.9625 - val_loss: 620916.9375 - val_accuracy: 1.0000
Epoch 65/70
7/7 [==============================] - 0s 17ms/step - loss: 131003.5107 - accuracy: 0.9469 - val_loss: 1192175.6250 - val_accuracy: 1.0000
Epoch 66/70
7/7 [==============================] - 0s 11ms/step - loss: 63512.1987 - accuracy: 0.9819 - val_loss: 920558.2500 - val_accuracy: 1.0000
Epoch 67/70
7/7 [==============================] - 0s 15ms/step - loss: 93928.5625 - accuracy: 0.9678 - val_loss: 1626795.5000 - val_accuracy: 0.9455
Epoch 68/70
7/7 [==============================] - 0s 15ms/step - loss: 87773.7422 - accuracy: 0.9915 - val_loss: 1391518.0000 - val_accuracy: 1.0000
Epoch 69/70
7/7 [==============================] - 0s 13ms/step - loss: 112259.1855 - accuracy: 0.9658 - val_loss: 815883.8125 - val_accuracy: 1.0000
Epoch 70/70
7/7 [==============================] - 0s 15ms/step - loss: 99505.5781 - accuracy: 0.9608 - val_loss: 1607874.1250 - val_accuracy: 0.9636

In [91]:
score =model.evaluate(X_test,Y_test)

3/3 [==============================] - 0s 2ms/step - loss: 1636253.1250 - accuracy: 0.9780